html{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: arial;
}

*,*:before,*:after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
}

.wrapper:before,.wrapper:after,
.row:before,.row:after{
    display: table;
    content: "";
}

.row:after,.wrapper:after{clear: both;}

[class*=col-]{
    width: 100%;
    float: left;
    min-height: 1px;
}

@media screen and (min-width: 280px){
    .col-xs-1{width: 8.33%}
    .col-xs-2{width: 16.66%}
    .col-xs-3{width: 25%}
    .col-xs-4{width: 33.33%}
    .col-xs-5{width: 41.66%}
    .col-xs-6{width: 50%}
    .col-xs-7{width: 58.33%}
    .col-xs-8{width: 66.66%}
    .col-xs-9{width: 75%}
    .col-xs-10{width: 83.33%}
    .col-xs-11{width: 91.66%}
    .col-xs-12{width: 100%}
}

@media screen and (min-width: 640px){
    .col-sm-1{width: 8.33%}
    .col-sm-2{width: 16.66%}
    .col-sm-3{width: 25%}
    .col-sm-4{width: 33.33%}
    .col-sm-5{width: 41.66%}
    .col-sm-6{width: 50%}
    .col-sm-7{width: 58.33%}
    .col-sm-8{width: 66.66%}
    .col-sm-9{width: 75%}
    .col-sm-10{width: 83.33%}
    .col-sm-11{width: 91.66%}
    .col-sm-12{width: 100%}
}

@media screen and (min-width: 768px){
    .col-md-1{width: 8.33%}
    .col-md-2{width: 16.66%}
    .col-md-3{width: 25%}
    .col-md-4{width: 33.33%}
    .col-md-5{width: 41.66%}
    .col-md-6{width: 50%}
    .col-md-7{width: 58.33%}
    .col-md-8{width: 66.66%}
    .col-md-9{width: 75%}
    .col-md-10{width: 83.33%}
    .col-md-11{width: 91.66%}
    .col-md-12{width: 100%}
}

@media screen and (min-width: 1024px){
    .col-lg-1{width: 8.33%}
    .col-lg-2{width: 16.66%}
    .col-lg-3{width: 25%}
    .col-lg-4{width: 33.33%}
    .col-lg-5{width: 41.66%}
    .col-lg-6{width: 50%}
    .col-lg-7{width: 58.33%}
    .col-lg-8{width: 66.66%}
    .col-lg-9{width: 75%}
    .col-lg-10{width: 83.33%}
    .col-lg-11{width: 91.66%}
    .col-lg-12{width: 100%}
}

@media screen and (min-width: 1280px){
    .col-xl-1{width: 8.33%}
    .col-xl-2{width: 16.66%}
    .col-xl-3{width: 25%}
    .col-xl-4{width: 33.33%}
    .col-xl-5{width: 41.66%}
    .col-xl-6{width: 50%}
    .col-xl-7{width: 58.33%}
    .col-xl-8{width: 66.66%}
    .col-xl-9{width: 75%}
    .col-xl-10{width: 83.33%}
    .col-xl-11{width: 91.66%}
    .col-xl-12{width: 100%}
}

@media screen and (min-width: 1536px){
    .col-2xl-1{width: 8.33%}
    .col-2xl-2{width: 16.66%}
    .col-2xl-3{width: 25%}
    .col-2xl-4{width: 33.33%}
    .col-2xl-5{width: 41.66%}
    .col-2xl-6{width: 50%}
    .col-2xl-7{width: 58.33%}
    .col-2xl-8{width: 66.66%}
    .col-2xl-9{width: 75%}
    .col-2xl-10{width: 83.33%}
    .col-2xl-11{width: 91.66%}
    .col-2xl-12{width: 100%}
}

.kotak{
    height: 400px;
    background-color: red;
    margin: 20px;
    text-align: center;
}

.judul{
    text-align: center;
}